Package: com.charliewhile.stupidpripatch
Name: StupidPRIPatch
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Charlie WHile
Author: Charlie While
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 104
